In [46]:
"""
Translating read_caa_csv.R into Python
Lam Hoi Ming
02-07-2019

Data processing is done on the original csv file. Separated into files by station
"""
import os
import re
import pandas as pd
import matplotlib as plt

In [3]:
############ data input #################
#### set data input working directory: Where are your data?
Mdir = "d:/phd/caa/eccc/snowdepth/"   # Master/root dir
wdir = Mdir + "data/station/csv/" # specific working dir
os.chdir(wdir)

In [4]:
# Getting station ID
# Lat lon info are stored in idname
idname = pd.read_csv('ID_NAME.csv', encoding = "utf-8", sep = ',', index_col = 'StationID') # ISO-8859-1 for ASCII
idname.head()

,StationName,Unnamed: 2,latitude,longitude,name,desc
StationID,,,,,,
Q25,14A (END BECANCOUR DOCK) Q25,NaN,46.399811,-72.381981,14A (END BECANCOUR DOCK),View ice thickness data
Q26,14B (MID BECANCOUR DOCK) Q26,NaN,46.398354,-72.380264,14B (MID BECANCOUR DOCK),NaN
A1,A1,NaN,45.529766,-73.527260,A1,"+45° 31' 47.16"", -73° 31' 38.14""<BR>"
A10,A10,NaN,45.407558,-73.728767,A10,"+45° 24' 27.21"", -73° 43' 43.57""<BR>"
A2,A2,NaN,45.514477,-73.523872,A2,"+45° 30' 52.11"", -73° 31' 25.94""<BR>"

In [5]:
# List of stations
list_stn = [
  # West of 100W, no 2016
  "CAPE PARRY ZUE", 
  "COPPERMINE YCO",
  "HOLMAN ISLAND YHI",
  "ISACHSEN (OLD ICE) IC1",   #no trend by month
  "ISACHSEN YIC",
  "LADY FRANKLIN POINT YUJ",
  "MOULD BAY YMD",
  "SACHS HARBOUR YSY", 
  # current stations up to 2016
  "ALERT LT1", 
    "ALERT YLT", 
    "CAMBRIDGE BAY YCB", 
    "CORAL HARBOUR YZS", 
    "EUREKA WEU", "HALL BEACH YUX", 
    "IQALUIT YFB", 
    "RESOLUTE YRB", # with 2016 data
  # East of 100W, in hudson bay, no 2016
  "ARCTIC BAY YAB",
  "CAPE DORSET YTE",
  "CHESTERFIELD INLET YCS",
  "CHURCHILL YYQ",
  "CLYDE YCY",
  "GLADMAN POINT YUR",
  "INUKJUAK PH1",
  "INUKJUAK WPH",                 #no trend by month
  "IQALUIT YFB",              
  "KUUJJUAQ YVP",
  "KUUJJUARAPIK YGW",
  "MOOSONEE WZC",
  "POND INLET YIO",
  "QUAQTAQ HA1",
  "QUAQTAQ YHA",
  "SHEPHERD BAY YUS",              #no trend by month
  "SPENCE BAY YNC",              
  #inland stations for comparison
  "BAKER LAKE YBK",
  "INUVIK YEV"
  # Further southeast around Labrador sea/PEI?
]
print(list_stn)

['CAPE PARRY ZUE', 'COPPERMINE YCO', 'HOLMAN ISLAND YHI', 'ISACHSEN (OLD ICE) IC1', 'ISACHSEN YIC', 'LADY FRANKLIN POINT YUJ', 'MOULD BAY YMD', 'SACHS HARBOUR YSY', 'ALERT LT1', 'ALERT YLT', 'CAMBRIDGE BAY YCB', 'CORAL HARBOUR YZS', 'EUREKA WEU', 'HALL BEACH YUX', 'IQALUIT YFB', 'RESOLUTE YRB', 'ARCTIC BAY YAB', 'CAPE DORSET YTE', 'CHESTERFIELD INLET YCS', 'CHURCHILL YYQ', 'CLYDE YCY', 'GLADMAN POINT YUR', 'INUKJUAK PH1', 'INUKJUAK WPH', 'IQALUIT YFB', 'KUUJJUAQ YVP', 'KUUJJUARAPIK YGW', 'MOOSONEE WZC', 'POND INLET YIO', 'QUAQTAQ HA1', 'QUAQTAQ YHA', 'SHEPHERD BAY YUS', 'SPENCE BAY YNC', 'BAKER LAKE YBK', 'INUVIK YEV']

In [12]:
def read_station():
    for i, station in enumerate(list_stn):
#         if idname.StationName.str.match(station).bool:
        ID = idname.index[idname.StationName == station].format()
        print(station)
        fdata[station] = pd.read_csv(ID[0] + '.csv', parse_dates = [0], infer_datetime_format=True, index_col = 'Date')
#         else:
#             print('nothing')

In [14]:
fdata = {}
read_station()
# fdata['ALERT YLT']

CAPE PARRY ZUE
COPPERMINE YCO
HOLMAN ISLAND YHI
ISACHSEN (OLD ICE) IC1
ISACHSEN YIC
LADY FRANKLIN POINT YUJ
MOULD BAY YMD
SACHS HARBOUR YSY
ALERT LT1
ALERT YLT
CAMBRIDGE BAY YCB
CORAL HARBOUR YZS
EUREKA WEU
HALL BEACH YUX
IQALUIT YFB
RESOLUTE YRB
ARCTIC BAY YAB
CAPE DORSET YTE
CHESTERFIELD INLET YCS
CHURCHILL YYQ
CLYDE YCY
GLADMAN POINT YUR
INUKJUAK PH1
INUKJUAK WPH
IQALUIT YFB
KUUJJUAQ YVP
KUUJJUARAPIK YGW
MOOSONEE WZC
POND INLET YIO
QUAQTAQ HA1
QUAQTAQ YHA
SHEPHERD BAY YUS
SPENCE BAY YNC
BAKER LAKE YBK
INUVIK YEV

,Icethickness,Snowdepth,MeasurementMethod,SurfaceTopology,CracksandLeads
Date,,,,,
1950-11-30,58.0,NaN,NaN,NaN,NaN
1950-12-29,74.0,NaN,NaN,NaN,NaN
1951-01-31,91.0,NaN,NaN,NaN,NaN
1951-02-28,109.0,NaN,NaN,NaN,NaN
1951-04-03,131.0,NaN,NaN,NaN,NaN
1951-09-08,3.0,NaN,NaN,NaN,NaN
1951-09-30,27.0,NaN,NaN,NaN,NaN
1951-10-30,56.0,NaN,NaN,NaN,NaN
1951-11-30,89.0,NaN,NaN,NaN,NaN
1951-12-31,114.0,NaN,NaN,NaN,NaN
1952-01-31,147.0,NaN,NaN,NaN,NaN
1952-02-29,168.0,NaN,NaN,NaN,NaN
1952-03-31,180.0,NaN,NaN,NaN,NaN
1952-09-11,6.0,NaN,NaN,NaN,NaN
1952-10-11,39.0,NaN,NaN,NaN,NaN
1952-11-13,56.0,NaN,NaN,NaN,NaN
1952-11-17,60.0,NaN,NaN,NaN,NaN
1954-10-02,28.0,NaN,NaN,NaN,NaN
1954-11-07,64.0,NaN,NaN,NaN,NaN
1954-12-07,69.0,NaN,NaN,NaN,NaN
1955-01-04,91.0,NaN,NaN,NaN,NaN
1955-02-01,112.0,NaN,NaN,NaN,NaN
1955-03-01,122.0,NaN,NaN,NaN,NaN
1955-04-01,152.0,NaN,NaN,NaN,NaN
1955-04-30,160.0,NaN,NaN,NaN,NaN
1955-06-01,168.0,NaN,NaN,NaN,NaN
1955-11-01,48.0,NaN,NaN,NaN,NaN
1955-11-30,74.0,NaN,NaN,NaN,NaN
1956-02-01,117.0,NaN,NaN,NaN,NaN
1956-03-02,155.0,8.0,NaN,NaN,NaN
...,...,...,...,...,...
2014-11-05,40.0,14.0,0.0,0.0,1.0
2014-11-12,47.0,20.0,0.0,0.0,1.0
2014-11-19,55.0,5.0,0.0,1.0,1.0
2014-11-26,65.0,25.0,0.0,1.0,1.0
2014-12-03,62.0,22.0,0.0,0.0,0.0
2014-12-17,63.0,35.0,0.0,1.0,1.0
2014-12-31,74.0,30.0,0.0,0.0,1.0
2015-01-14,80.0,34.0,0.0,0.0,1.0
2015-01-28,95.0,23.0,0.0,0.0,1.0
2015-02-11,96.0,18.0,0.0,0.0,1.0
2015-03-04,107.0,34.0,0.0,0.0,1.0
2015-03-18,117.0,39.0,0.0,0.0,1.0
2015-04-02,128.0,40.0,0.0,0.0,1.0
2015-04-15,130.0,64.0,0.0,0.0,1.0
2015-04-29,140.0,38.0,0.0,0.0,1.0
2015-05-13,139.0,30.0,0.0,0.0,1.0
2015-10-14,30.0,2.0,0.0,1.0,1.0
2015-10-28,47.0,2.0,1.0,1.0,1.0
2015-11-11,61.0,6.0,0.0,0.0,1.0
2015-11-17,66.0,2.0,0.0,0.0,1.0
2015-12-01,84.0,4.0,0.0,1.0,1.0
2015-12-16,101.0,1.0,0.0,0.0,1.0
2015-12-31,111.0,1.0,0.0,1.0,1.0
2016-01-13,125.0,1.0,0.0,0.0,1.0
2016-01-27,132.0,7.0,0.0,1.0,1.0
2016-02-13,149.0,17.0,0.0,0.0,1.0
2016-02-24,154.0,15.0,0.0,0.0,1.0
2016-03-02,163.0,13.0,0.0,0.0,1.0
2016-03-09,166.0,18.0,0.0,0.0,1.0
2016-05-11,190.0,37.0,0.0,0.0,1.0

In [9]:
# Month list from August
#sep_jul <- c("S", "O", "N", "D", "J", "F", "M", "A", "M", "J", "J")
aug_jul = ["Aug", "Sep", "Oct", "Nov", "Dec", "Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul"]
A_J = ["A","S", "O", "N", "D", "J", "F", "M", "A", "M", "J", "J"]

In [41]:
# READING SNOW DEPTH FROM EACH STATION
def read_snowdepth(data):
    for i, station in enumerate(list_stn):
        stn_title = station.replace(' ', '_')
        print(stn_title)
        stn_snow[station] = pd.DataFrame({'snow_depth':data[station]['Snowdepth']})

In [42]:
stn_snow = {}
read_snowdepth(fdata)

CAPE_PARRY_ZUE
COPPERMINE_YCO
HOLMAN_ISLAND_YHI
ISACHSEN_(OLD_ICE)_IC1
ISACHSEN_YIC
LADY_FRANKLIN_POINT_YUJ
MOULD_BAY_YMD
SACHS_HARBOUR_YSY
ALERT_LT1
ALERT_YLT
CAMBRIDGE_BAY_YCB
CORAL_HARBOUR_YZS
EUREKA_WEU
HALL_BEACH_YUX
IQALUIT_YFB
RESOLUTE_YRB
ARCTIC_BAY_YAB
CAPE_DORSET_YTE
CHESTERFIELD_INLET_YCS
CHURCHILL_YYQ
CLYDE_YCY
GLADMAN_POINT_YUR
INUKJUAK_PH1
INUKJUAK_WPH
IQALUIT_YFB
KUUJJUAQ_YVP
KUUJJUARAPIK_YGW
MOOSONEE_WZC
POND_INLET_YIO
QUAQTAQ_HA1
QUAQTAQ_YHA
SHEPHERD_BAY_YUS
SPENCE_BAY_YNC
BAKER_LAKE_YBK
INUVIK_YEV

In [53]:
#Function to construct time series for all stations

ModuleNotFoundError: No module named 'ipympl'